body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
}

table {
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    background: white;


}

th {
    background-color: blue;
    color: white;
    font-size: 28px;
    position: relative;
}

span {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: blue;
    background-color: white;
}

button {
    background-color: green;
    color: white;
}

textarea {
    width: 95%;
    height: 60px;
    border: 1px solid black;
}

#inbox-a,
#inbox-b {
    min-height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: lightblue;
    text-align: left;
}